<%= simple_form_for(@car) do |c| %>
    
    <div class="form-inputs">
      <%= c.input :placa %>
      <%= c.input :color %>
      <%= c.input :avatar %>
    </div>
  
    <div class="form-actions">
      <%= c.button :submit %>
    </div>
  <% end %>