<%= simple_form_for(@User) do |u| %>
    
    <div class="form-inputs">
      <%= u.input :identificacion %>
      <%= u.input :nombre %>
      <%= u.input :apellido %>
      <%= u.input :avatar %>
      <%= u.button :submit %>
    </div>
  
  
  <% end %>