<tr>
    <th scope="row"><%= users %></th>
    <td><%= link_to user.identificacion, user_path(users) %></td>
    <td><%= users.nombre %></td>
    <td><%= users.apellido %></td>
    
</tr>
<div class="form-actions">
      <%= c.button :submit %>
    </div>